/**
 * Checkbox
 */
.happy-checkbox {
	border-color: $base;
	margin-right: 0.2em;
	@extend .happy-color;
	@include happy-component($checkbox-size);
	@include border-radius($checkbox-size / 6);

	svg {
		position: absolute;
		display: block;
		top: -(floor($checkbox-size / $border-divider));
		left: -(floor($checkbox-size / $border-divider));
		height: $checkbox-size;
		width: $checkbox-size;
		opacity: 0;

		@include border-radius($checkbox-size / 6);
		@include happy-component-backround-color($base);
		@include transform(scale(0.4));
		@include transition-all($transition-duration);

		rect {
			fill: white;

			&:first-child {
				@include transform(rotate(45deg));
			}

			&:nth-child(2) {
				@include transform(rotate(-45deg));
				/* fill: yellow; */
			}
		}
	}

	&.thin {
		border-width: floor(($checkbox-size / $border_divider) - 1px);

		svg {
			top: -(floor(($checkbox-size / $border-divider) - 1px));
			left: -(floor(($checkbox-size / $border-divider) - 1px));
		}
	}

	&.white {
		border-color: $white;
	}

	&.gray-border { border-color: #858585; }
	&.primary-border { border-color: $primary; }
	&.success-border { border-color: $success; }
	&.info-border { border-color: $info; }
	&.warning-border { border-color: $warning; }
	&.danger-border { border-color: $danger; }

	&.primary svg { @include happy-component-backround-color($primary); }
	&.success svg { @include happy-component-backround-color($success); }
	&.info svg { @include happy-component-backround-color($info); }
	&.warning svg { @include happy-component-backround-color($warning); }
	&.danger svg { @include happy-component-backround-color($danger); }
	&.white svg {
		@include happy-component-backround-color($white);

		rect {
			fill: $base;
		}
	}

	&.active {
		border-color: transparent;

		svg {
			opacity: 1;
			@include transform(scale(1));
		}
	}
}
