/**
 * Common
 */

input[type=radio].happy, input[type=checkbox].happy {
	position: absolute;
	top: -50%;
	left: -50%;
	opacity: 0;
}

label:not(.selectable), .noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

label {
	cursor: pointer;
	position: relative; // Important!
}
