/**
 * Radio
 */
.happy-radio {
	@extend .happy-color;
	@extend .happy-border-color;
	@include happy-component($radio-size);
	@include border-radius($radio-size);

	&.thin {
		border-width: ($radio-size / $border_divider) - 1px;
	}

	b {
		position: absolute;
		display: block;
		top: round($radio-size / 8);
		left: round($radio-size / 8);
		bottom: round($radio-size / 8);
		right: round($radio-size / 8);
		opacity: 0;
		@include border-radius($radio-size / 3 * 2);

		@include transform(scale(0.4));
		@include transition-all($transition-duration);
	}

	&.active {
		b {
			opacity: 1;
			@include transform(scale(1));
		}
	}

	&.focus {
		outline: none;
		@include box-shadow(0px, 0px, 5px, 0px, rgba(50, 50, 50, 0.75))
	}
}
